body {
  font-family: Arial, Helvetica, sans-serif;
}
button {
  border: none;
  background-color: rgb(0, 0, 0);
  border-radius: 25px;
  padding: 0.5rem;
  color: ffffff;
  cursor: pointer;
}
.btn-youtube {
  background-color: #000000;
  border-radius: 50px;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  font-weight: 700;
  margin-bottom: 35px;
}
.cost-input,
input {
  padding: 10px;
  font-size: 15px;
}
.calculate-btn {
  background-color: green;
  color: #ffffff;
  padding: 12px 15px;
  font-size: 15px;
  border: none;
}
.go-back {
  background-color: #958f8f;
  border-radius: 10px;
  color: ffffff;
  font-size: 10px;
}

.yellow-color {
  background-color: yellow;
  color: black;
  border: solid 1px black;
}
.orange-color {
  background-color: orange;
  color: black;
  border: solid 1px black;
}

/***** Rock Paper Scissors******/

body.rps-container {
  background-color: #8b1d0b;
  color: #ffffff;
}

.btn-rps {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  border: 3px solid #ffffff;
  background-color: transparent;
  margin-right: 10px;
  font-size: 3rem;
  border: 3px solid white;
}

.js-result {
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}
.js-score {
  margin-top: 60px;
}

.reset-score-btn {
  background-color: #ffffff;
  border: none;
  font-size: 15px;
  padding: 8px 15px;
  border-radius: 0px;
}
.js-moves {
}

.move-icon {
  font-size: 50px;
}
